<launch>

  <arg name="mname1" default="zumy7a"/>

  <arg name="mname2" default="zumy5c"/>

  <arg name="mname3" default="zumy1c"/>

  <arg name="mname4" default="zumy1d"/>

  <arg name="tname1" default="5"/>

  <arg name="tname2" default="3"/>

  <arg name="tname3" default="6"/>

  <arg name="tname4" default="4"/>

  <include file="$(find life_cam)/launch/run_all.launch" />

  <node name="rviz1" pkg="rviz" type="rviz"  output="screen" respawn="true"/>


  <include file="$(find odroid_machine)/launch/remote_zumy.launch">
    <arg name="mname" value="$(arg mname1)" />
  </include>

  <include file="$(find odroid_machine)/launch/remote_zumy.launch">
    <arg name="mname" value="$(arg mname2)" />
  </include>

  <include file="$(find odroid_machine)/launch/remote_zumy.launch">
    <arg name="mname" value="$(arg mname3)" />
  </include>

  <include file="$(find odroid_machine)/launch/remote_zumy.launch">
    <arg name="mname" value="$(arg mname4)" />
  </include>


  <node name="publish_AR_coord" pkg="ar_coord" type="publish_zumy_coord.py" args="0 1 2 $(arg tname1) $(arg tname2) $(arg tname3) $(arg tname4)" output="screen" respawn="true"/>


  <node name="wait_for_cmd_$(arg mname1)" pkg="move_zumy" type="wait_for_cmd.py" args="$(arg mname1) $(arg tname1)" output="screen" respawn="true"/>

  <node name="wait_for_cmd_$(arg mname2)" pkg="move_zumy" type="wait_for_cmd.py" args="$(arg mname2) $(arg tname2)" output="screen" respawn="true"/>

  <node name="wait_for_cmd_$(arg mname3)" pkg="move_zumy" type="wait_for_cmd.py" args="$(arg mname3) $(arg tname3)" output="screen" respawn="true"/>

  <node name="wait_for_cmd_$(arg mname4)" pkg="move_zumy" type="wait_for_cmd.py" args="$(arg mname4) $(arg tname4)" output="screen" respawn="true"/>

<!--
  <node name="send_formation" pkg="move_zumy" type="send_formation_test.py" args="$(arg mname1) $(arg mname2) $(arg mname3) $(arg mname4) $(arg tname1) $(arg tname2) $(arg tname3) $(arg tname4)" output="screen" respawn="true"/>

-->




<!--


  <node name="send_formation" pkg="move_zumy" type="send_formation.py" args="$(arg mname1) $(arg mname2) $(arg mname3) $(arg mname4)" output="screen" respawn="true"/>

-->


<!--
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"  output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
    <param name="camera_info_url" value="file://$(find life_cam)/launch/lifecam.yml"/>
  </node>
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
-->
<!--
  <include file="$(find odroid_machine)/launch/odroid_machine.launch">
    <arg name="mname" value="$(arg mname)" />
  </include>

  <node machine="$(arg mname)" ns="$(arg mname)" name="zumy_ros_bridge" pkg="ros_zumy" type="zumy_ros_bridge.py"  output="screen" >
  </node>
-->
</launch>

